/*Header*/
header {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

header a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px;
}

header a:hover {
  background-color: rgb(200, 0, 0);
}

/*Home button*/
header nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  padding: 0;
  margin: 0;
}

.logo-container {
  width: 120px;
  aspect-ratio: 10/3;
  background: url(../../pictures/logo.png);
  background-size: cover;
  background-position: center;
  margin: 11px 8px;
}

.logo-container:hover {
  background-color: rgb(200, 0, 0);
}

/*PC-componets, Creator and sources button*/
header nav2 {
  display: flex;
  align-items: center;
}

header nav2 a{
  padding-left: 40px;
  padding-right: 40px;
}

/*Hamburger-menue*/
.fa-bars{
  color: white;
  font-size: 30px;
  padding: 14px 25px;
  display: none;
}

/*Screen smaller than 600px*/
@media(max-width: 700px){

  /*Header*/
  header{
  flex-direction: column;
  }

  header a {
    width: 100%;
  }

  header a:hover, header a:hover {
    background-color: rgb(200, 0, 0);
  }

  /*Home button*/
  header nav1{
    width: 100%;
  }

  nav1 {
    display: flex;
    justify-content: flex-between;
    border-bottom: 1px solid gray;
  }

  header nav1:hover {
    background-color: black;
  }


  .logo-link-container:hover {
    background-color: rgb(200, 0, 0);
  }

  /*PC-componets, Creator and sources button*/
  header nav2 {
    display: none;
  }

  header nav2.show {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  /*Hamburger-menue*/
  .fa-bars {
    display: flex;
    align-items: center;
  }

  .fa-bars:hover, .fa-bars:active {
    background-color: rgb(200, 0, 0);
  }
}
