/*Header*/
header {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

header a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px;
}

header a:hover {
  background-color: rgb(200, 0, 0);
}

/*Home button*/
header nav1 {
  display: flex;
  justify-content: space-between;
}

.logo-link {
  padding: 0;
  margin: 0;
}

.logo-container {
  width: 120px;
  aspect-ratio: 10/3;
  background: url(../../pictures/logo.png);
  background-size: cover;
  background-position: center;
  margin: 11px 8px;
}

.logo-container:hover {
  background-color: rgb(200, 0, 0);
}

/*Back button*/
header nav2 {
  display: flex;
}

header nav2 a{
  padding-left: 40px;
  padding-right: 40px;
}

.fa-chevron-left {
  padding: 0px 20px;
}