/*Title and definition*/
.title-box {
  margin: 40px 50px 0px 50px;
  border: 1px solid black;
  padding: 20px;
}

.title {
  margin-bottom: 10px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.fat-title {
  font-size: 32px;
  font-weight: bold;
}

.thin-title {
  font-size: 22px;
}

.defenition {
  color: gray;
  font-size: 18px;
  font-style: italic;
}

/*Container for text and picture boxes*/
.wrapper {
  display: grid;
  grid-template-areas: 
    "info1 info1 pic1 pic1"
    "info2 info2 info3 info3"
    "info4 info4 button button";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 30px 50px 150px 50px;  
}

/*Generel for text and picture boxes*/
.title-text {
  font-weight: bold;
  margin-bottom: 7px;
  font-size: 17px;
}

.grid {
  border: 1px solid black;
}

p {
  line-height: 1.5;
}

.text-top {
  margin-bottom: 30px;
}

.title-under-text {
  text-decoration: underline;
}

/*Grid areas for text and picture boxes*/
.info1 {
  grid-area: info1;
  padding: 30px;
}

.pic1 {
  grid-area: pic1;
  background: url(../../../pictures/component_pages/secondary-memory_page/HDD_page/HDD.png);
  background-size: cover;
  background-position: center;
}

.info2 {
  grid-area: info2;
  padding: 30px;
}

.info3 {
  grid-area: info3;
  padding: 30px;
}

.info2, .info3 {
  background-color: lightgray;
  border-radius: 20px;
}

.advantages-top {
  margin-bottom: 15px;
}

.info4 {
  grid-area: info4;
  padding: 25px 30px;
}

.button {
  grid-area: button;
  padding: 25px 30px;
  background: url(../../../pictures/component_pages/secondary-memory_page/HDD_page/SSD.jpg);
  background-size: cover;
  background-position: center;
}

.button-text {
  background-color: rgb(192, 192, 192);
  border: 1px black solid;
  padding: 12px 10px 10px 16px;
  font-size: 15px;
}

button {
  background-color: rgb(255, 255, 255);
  color: black;
  margin-top: 20px;
  padding: 10px 30px;
  border: 1px black solid;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: border-radius 0.15s, backgroud-color 0.15s;
}

button:hover {
  background-color: rgb(130, 130, 130);
  border-radius: 4px;
  cursor: pointer;
}

/*0px - 750px*/
@media (max-width: 749px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "info1"
      "pic1"
      "info2"
      "info3"
      "info4"
      "button";
      margin: 30px 30px 100px 30px;

  }

  .pic1 {
    height: 300px;
  }

  .title-box {
    margin: 30px 30px 0px 30px;
  }

  .text {
    padding: 20px;
  }
}

/*750px - 1000px*/
@media (min-width: 750px) and (max-width: 999px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "info1 info1"
    "pic1 pic1"
    "info2 info2"
    "info3 info3"
    "info4 button";
      margin: 30px 40px 100px 40px;  
  }

  .pic1 {
    height: 300px;
  }

  .title-box {
    margin: 40px 40px 0px 40px;
  }

  .text {
    padding: 20px;
  }
}